
<% include header %>  
<link rel="stylesheet" href="assets/css/image-uploader.min.css">         
<%- include('sidebar', {menu:'product'}) %>   
<div class="admin_main">
    <div class="row ad_mTop30">
        <div class="col-12">
            <% if( product != 0 ){ %> 
                <div class="ad_datatable_wrapper">
                    <div class="row align-items-center ad_mBottom20">
                        <div class="col-4">
                            <h5 class="ad_subheading">Products ( <%= product %> )</h5>
                        </div>
                        <div class="col text-right">
                            <div class="ad_search_wrapper">
                                <input type="text" class="form-control ad_datatableSearch" placeholder="Search..." />
                                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="search">
                                    <path d="M8.3283 0C3.73857 0 0 3.73857 0 8.3283C0 12.918 3.73857 16.6566 8.3283 16.6566C10.3242 16.6566 12.1571 15.9479 13.5937 14.7714L18.5663 19.7439C18.643 19.8239 18.7349 19.8877 18.8366 19.9316C18.9383 19.9756 19.0478 19.9988 19.1586 20C19.2694 20.0011 19.3793 19.9801 19.4819 19.9382C19.5845 19.8963 19.6777 19.8344 19.756 19.756C19.8344 19.6777 19.8963 19.5845 19.9382 19.4819C19.9801 19.3793 20.0011 19.2694 20 19.1586C19.9988 19.0478 19.9756 18.9383 19.9316 18.8366C19.8877 18.7349 19.8239 18.643 19.7439 18.5663L14.7714 13.5937C15.9479 12.1571 16.6566 10.3242 16.6566 8.3283C16.6566 3.73857 12.918 0 8.3283 0ZM8.3283 1.66566C12.0178 1.66566 14.9909 4.63876 14.9909 8.3283C14.9909 12.0178 12.0178 14.9909 8.3283 14.9909C4.63876 14.9909 1.66566 12.0178 1.66566 8.3283C1.66566 4.63876 4.63876 1.66566 8.3283 1.66566Z"></path>
                                    </svg></span>
                            </div>
                        </div>
                    </div>
                    <table id="example" class="table ad_table mainTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th class="ad_variation_th">Description</th>
                                <th class="ad_variation_th">Shipping Policy</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Variations</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            <% }else{ %> 
                <div class="ad_nodata_textContent mt-3">
                    <div class="vertical_center_data">
                        <span class="nodata_img"><img src="./assets/images/nodata_found.svg" alt="No Data Found"/></span>
                        <p>You have not added any product in stock yet.</p>
                    </div>
                </div>
            <% } %> 
        </div>
    </div>
</div>
<div class="modal fade ad_modal " id="viewAllVariations" tabindex="-1" role="dialog" aria-labelledby="exampleModalFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Product Variations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="close_popup" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="hd_variation">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="modal-title variation_product_title ad_subheading"></h5>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive ">
                            <table id="example" class="table ad_table edit_variation_table ">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Image</th>
                                        <th>Variation</th>
                                        <th>Quantity</th>
                                        <th>Purchase Price</th>
                                        <th>Tax %</th>
                                        <th>MRP</th>
                                        <th>Offer %</th>
                                        <th>Offer Price</th>
                                        <th>Expire Offers</th>
                                        <th class="th_tooltip_dv">
                                            <label class="ad_tooltiplabel">Activity
                                                <span class="ad_infoicon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 524.235 524.235" height="20" viewBox="0 0 524.235 524.235" width="20" style="fill: #688FA9;"><path d="m262.118 0c-144.53 0-262.118 117.588-262.118 262.118s117.588 262.118 262.118 262.118 262.118-117.588 262.118-262.118-117.589-262.118-262.118-262.118zm17.05 417.639c-12.453 2.076-37.232 7.261-49.815 8.303-10.651.882-20.702-5.215-26.829-13.967-6.143-8.751-7.615-19.95-3.968-29.997l49.547-136.242h-51.515c-.044-28.389 21.25-49.263 48.485-57.274 12.997-3.824 37.212-9.057 49.809-8.255 7.547.48 20.702 5.215 26.829 13.967 6.143 8.751 7.615 19.95 3.968 29.997l-49.547 136.242h51.499c.01 28.356-20.49 52.564-48.463 57.226zm15.714-253.815c-18.096 0-32.765-14.671-32.765-32.765 0-18.096 14.669-32.765 32.765-32.765s32.765 14.669 32.765 32.765c0 18.095-14.668 32.765-32.765 32.765z"/></svg>
                                                </span>
                                                <div class="tooptip_info">
                                                    <p>Active product will show on website first.</p>
                                                </div>
                                            </label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="10"><center>No data available in table</center></td>
                                    </tr>
                                </tbody>
                            </table>        
                        </div>    
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start hd_modal_footer">
                <button type="button" class="ad_btn ad_hollowBtn close_add_category" data-dismiss="modal">Close</button>
                <button type="button" class="ad_btn bg-blue save_variations">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade ad_modal " id="editProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Product</h5>
                <button type="button" class="close edit_prod_modal" data-dismiss="modal" aria-label="Close">
                    <span class="close_popup" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="hd_edit_category_valid">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="ad_label">Product Name</label>
                            <input type="text" placeholder="Enter Product Name" class="form-control hd_edit_product_name" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="ad_label">Select category</label>
                            <div class="ad_select_box">
                                <select class="ad_select form-control hd_edit_cat_data" data-placeholder="Select Category" disabled>
                                    <option></option>
                                    <% for(let i in category){ %>
                                        <option value="<%= category[i].id %>"><%= category[i].title %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="ad_label">Select sub category</label>
                            <div class="ad_select_box">
                                <select class="ad_select form-control hd_edit_sc_data" data-placeholder="Select Sub Category">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="ad_label">Description</label>
                            <textarea placeholder="Enter description" class="form-control hd_edit_description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="ad_label">Shipping Policy</label>
                            <textarea placeholder="Enter shipping policy" class="form-control hd_edit_policy"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="ad_label">Product expected delivery in days</label>
                            <div class="ad_select_box datepicker_holder">
                                <input type="number" min="0" placeholder="Enter delivery duration" class="form-control edit_duration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="ad_btn ad_hollowBtn close_edit_product" data-dismiss="modal">Close</button>
                <button type="button" class="ad_btn bg-blue update_product">Update changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade ad_modal " id="variationImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit and upload product variation images</h5>
        <button type="button" class="close close_file_uploader" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body body_parents">
            <!-- <form method="post" action="/uploads/products/" class="dropzone">
                <div class="fallback">
                  <input name="file" type="file" multiple />
                </div>
            </form> -->
            <form method="POST" name="form-example-1" id="form-example-1" enctype="multipart/form-data">
                <div class="input-field">
                    <!-- <label class="active">Photos</label> -->
                    <div class="input-images-2" style="padding-top: .5rem;"></div>
                </div>
                <p><b>Note : </b>You can add up to 50 images.</p>
            </form>
        </div>
        <div class="modal-footer justify-content-start btn_parents">
            <button type="button" class="ad_btn ad_hollowBtn close_btn" data-dismiss="modal">Close</button>
            <button type="button" class="ad_btn bg-blue edit_variation_image_save">Save changes</button>
        </div>
    </div>
    </div>
</div>
<% include footer %>
<script src="assets/js/main.js"></script>
<script src="assets/js/page_js/product.js"></script>
<script type="text/javascript" src="assets/js/image-uploader.min.js"></script>
</body>
</html>